<h1>
  <!-- here we echo the title from the component -->
  {{ dashBoardTitle }}
</h1>
<nb-tabset>
  <nb-tab tabTitle="upload" badgeText="99+" badgeStatus="danger">
    <app-upload></app-upload>
  </nb-tab>
  <nb-tab
    tabTitle="chatbot"
    badgeText="12"
    badgePosition="bottom right"
    badgeStatus="warning"
  >
    <app-chatbot></app-chatbot>
  </nb-tab>
  <nb-tab
    tabTitle="chat"
    badgeText="new"
    badgePosition="top right"
    badgeStatus="success"
  >
  <a [routerLink]="[ '/channel', '5d67c349f6f8f916672031f4' ]">chat</a>
    <!-- <app-chat></app-chat> -->
  </nb-tab>
  <nb-tab
    tabTitle="video chat"
    badgeText="new"
    badgePosition="top right"
    badgeStatus="success"
  >
    <app-videochat></app-videochat>
  </nb-tab>
</nb-tabset>
