<nb-layout>
  <nb-layout-header subheader>
    <button nbButton status="success" size="tiny" (click)="toggle()">
      Toggle
    </button>
    <p style="text-align:center">{{ getChannlelName(selectedChannel.name) }}</p>
    <button
      nbButton
      status="danger"
      size="tiny"
      *ngIf="!isGeneral()"
      (click)="leaveChannelFake()"
    >
      leave channel
    </button>
    <p *ngIf="isTyping">someone is typing</p>
  </nb-layout-header>

  <nb-sidebar tag="left">
    <app-chatsidebar></app-chatsidebar>
  </nb-sidebar>

  <nb-layout-column>
    <nb-chat title="start chatting" size="giant" scrollBottom="true">
      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [files]="msg.files"
        [quote]="msg.quote"
        [avatar]="msg.user.avatar"
        [nbPopover]="messageOption"
        nbPopoverTrigger="hover"
        nbPopoverPlacement="right"
        [nbPopoverContext]="msg"
      >
      </nb-chat-message>
      <nb-chat-form
        (keypress)="keyPress()"
        (keyup)="keyUp()"
        (send)="sendMessage($event)"
        [dropFiles]="true"
        #chatForm
      >
      </nb-chat-form>
    </nb-chat>
  </nb-layout-column>
</nb-layout>

<ng-template #messageOption let-msg>
  <nb-icon icon="heart-outline"></nb-icon>
  <nb-icon icon="edit-outline" (click)="openEditMessageWindow(msg)"></nb-icon>
  <nb-icon
    icon="trash-2-outline"
    (click)="openDeleteMessageWindow(msg)"
  ></nb-icon>
</ng-template>
