<div class="login-wrap">
    <div class="login-html login form">
          <div class="group">
            <label for="user" class="label">Please Enter Your Email Address:</label>
            <input
              [(ngModel)]="email"
              id="signin-email"
              type="text"
              class="input"
            />
          </div>
          <div class="group">
            <input
              (click)="sendResetPasswordEmail()"
              type="submit"
              class="button"
              value="Send Email"
            />
            
          </div>
          <div class="hr"></div> 
          <p>You will receive an email to reset your password</p>
        </div>
  </div>
  