<nb-layout>
  <nb-layout-header fixed>
    <app-navbar></app-navbar>
  </nb-layout-header>

  <nb-layout-column>
    <div>
      <!-- </div style="width:1200px; margin:0 auto;"> -->
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4" />
            <p class="mb-5">
              About Author
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>519-722-7098</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="y78ren@uwaterloo.ca">y78ren@uwaterloo.ca</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </nb-layout-footer>
</nb-layout>
