<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Home</a><br />
  <a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
    </ul>
    <nb-search type="rotate-layout"></nb-search>
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a
          *ngIf="!authService.loggedIn()"
          class="nav-link"
          href="#"
          (click)="openSignUpModal()"
        >
          Login/Sign up
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a
          *ngIf="authService.loggedIn()"
          class="nav-link"
          href="#"
          (click)="onLogoutClick()"
        >
          Logout
        </a>
      </li> -->

      <li
        class="nav-item"
        style="float: right;"
        ngbDropdown
        *ngIf="authService.loggedIn()"
      >
        <nb-user
          ngbDropdownToggle
          style="cursor: pointer"
          [name]="user?.name"
          [picture]="user?.picture"
        >
        </nb-user>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="dropdown-menu"
        >
          <button ngbDropdownItem>Profile</button>
          <button ngbDropdownItem>Settings</button>
          <button ngbDropdownItem (click)="onLogoutClick()">logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
