<div class="modal-header">
  <h4 class="modal-title">Channels</h4>
</div>

<div class="modal-body">
  <button nbButton (click)="createChannel()">Create Channle</button>
  <input nbInput type="text" />
  <nb-list>
    <nb-list-item *ngFor="let channel of channels">
      <button
        nbButton
        fullWidth
        status="success"
        (click)="openChannel(channel.id)"
      >
        {{ channel.name }}
      </button>
    </nb-list-item>
  </nb-list>
</div>

<div class="modal-footer"></div>
